.swipeButtons{
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
}

.swipeButtons_repeat{
    padding: 3vw ! important;
    columns: #f5b748 ! important; 
}

.swipeButtons_left{
    padding: 3vw ! important;
    columns: #ec5e6f ! important; 
}

.swipeButtons_star{
    padding: 3vw ! important;
    columns: #62b4f9 ! important; 
}

.swipeButtons_right{
    padding: 3vw ! important;
    columns: #76e2b3 ! important; 
}

.swipeButtons_lightning{
    padding: 3vw ! important;
    columns: #915dd1 ! important; 
}
